<!DOCTYPE html>
<html>
<head>
	<title>MindMatch</title>
	<link rel="stylesheet" href="static/style.css">
	<script type="module">
		
		document.addEventListener("DOMContentLoaded", function() {
            let tt = document.getElementById("talkto")
			let bias = localStorage.getItem("chatbias");
            tt.innerText = "Talk to " + bias;
			let responses = {
				"Feminist" : "Pretend to be a feminist in first person and answer further questions",
				"Rightist" : "Pretend to be a rightist in first person and answer further questions"
			}
			const model = "gpt-3.5-turbo"
			let input = document.getElementById("inchat").innerHTML
			document.getElementById("submitkey").addEventListener("click", function() {
				fetch("https://api.openai.com/v1/completions", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						"Authorization": "Bearer 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"
					},
					body: JSON.stringify({
						prompt: input,
						model: model,
						max_tokens: 5
					})
				})
				.then(response => response.json())
				.then(data => {
					document.getElementById("convo").innerHTML = data.choices[0].message.content
				})
				.catch(error => console.error(error));
			})
        });
	</script>
</head>
<body>
	<header>
		<h1><img src=”https://imgur.com/1HJ709P”></h1>
		<nav class="navbar">
			<a href="index.html">Home</a> |
			<a href="about.html">About</a>
		</nav>
	</header>

	<main>
		<h2 id="talkto">Talk to Feminist</h2>
		<p id="convo">
			Conversation
		</p>
		<input id="inchat">
		<button id="submitkey">Go</button>
	</main>

	<footer>
		<p>&copy; 2023 MindMatch. All rights reserved.</p>
	</footer>
</body>
</html>
