<!DOCTYPE html>
<html>
<head>
	<title>MindMatch</title>
	<link rel="stylesheet" href="static/style.css">
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			function startchat(evt) {
				let chat = evt.srcElement.innerHTML;
				localStorage.setItem("chatbias", chat)
				window.location.href = "chat.html";
			}
			var chats = document.getElementsByClassName("chat");
			console.log(chats);
			for (var i = 0; i < chats.length; i++) {
				chats[i].addEventListener("click", startchat);
			}
		});
	</script>
</head>
<body>
	<header>
		<div class="head">
			<h1>MindMatch</h1>
			<nav class="navbar">
				<a href="index.html">Home</a> |
				<a href="about.html">About</a>
			</nav>
		</div>
	</header>

	<main>
		<h2>Samples you can talk to:</h2>
		<button href="chat.html" class="chat">Feminist</button>
		<button href="chat.html" class="chat">Rightist</button>
	</main>

	<footer>
		<p>&copy; 2023 MindMatch. All rights reserved.</p>
	</footer>
</body>
</html>
