
.head {
    background-color: #301014;
    text-align: center;
    color: #edf4ed;
}
.h2 {
  color: #301014
}
.navbar {
    display: flex;
    background-color: #301014;
    font-family: Arial, sans-serif;
  }
  
  .navbar a {
    padding: 15px;
    color: #edf4ed;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #51291e;
  }
navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

p {
    font-size: 20px;
}