<!DOCTYPE html>
<html>
<head>
	<title>MindMatch</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<header>
		<h1><img src=”https://imgur.com/1HJ709P”></h1>
		<nav class="navbar">
			<a href="/">Home</a> |
			<a href="/about">About</a>
		</nav>
	</header>

	<main>
		<h2 id="talkto">Talk to {{ bias }}</h2>
		<p>
			{% for dict_item in messages %}
			{% if dict_item.role != "system" %}
			<p>{{dict_item.role}}: {{dict_item.content}}</p>
			{% endif %}
			{% endfor %}
		</p>
		<form method="POST" action="/chat">
			<input type="hidden" name="bias" value="{{ bias }}">
			<input id="inchat" name="content">
			<input type="submit">
		</form>
	</main>

	<footer>
		<p>&copy; 2023 MindMatch. All rights reserved.</p>
	</footer>
</body>
</html>
