<!DOCTYPE html>
<html>
<head>
	<title>MindMatch</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<header>
		<div class="head">
			<h1>MindMatch</h1>
			<nav class="navbar">
				<a href="/">Home</a> |
				<a href="/about">About</a>
			</nav>
		</div>
	</header>

	<main>
		<h2>Samples you can talk to:</h2>
		<form method="POST" action="/chat">
			{% csrf_token %}
			<label>Type of bias:</label>
			<button type="submit" name="bias" value="feminist">feminist</button>
			<button type="submit" name="bias" value="flat-earther">flat-earther</button>
			<button type="submit" name="bias" value="anti-vaxxer">anti-vaccination</button>
			<button type="submit" name="bias" value="climate change denier">climate change denial</button>
			<button type="submit" name="bias" value="pro-anorexist">pro-anorexia</button>
			<button type="submit" name="bias" value="someone who is pro-cannabis">pro-cannabis</button>
		</form>
	</main>

	<footer>
		<p>&copy; 2023 MindMatch. All rights reserved.</p>
	</footer>
</body>
</html>
